name: "Continuous Integration"

on:
  workflow_call:
    inputs:
      package:
        required: true
        type: string
      python-versions:
        required: true
        type: string
      project-directory:
        required: false
        type: string
        default: "."
jobs:
  tests:
    name: python ${{ matrix.python-version }} tests, ${{ matrix.uv-resolution }} dependencies
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ${{ fromJson(inputs.python-versions) }}
        uv-resolution:
          - "lowest-direct"
          - "highest"
    steps:
      - uses: cjw296/python-action/run-tests@v2
        with:
          python-version: ${{ matrix.python-version }}
          uv-params: "--all-extras --dev --resolution ${{ matrix.uv-resolution }}"
          project-directory: ${{ inputs.project-directory }}

  coverage:
    needs: tests
    runs-on: ubuntu-latest
    steps:
      - uses: cjw296/python-action/check-coverage@v2
        with:
          project-directory: ${{ inputs.project-directory }}

  typing:
    name: python ${{ matrix.python-version }} type checking
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ${{ fromJson(inputs.python-versions) }}
    steps:
      - uses: cjw296/python-action/check-typing@v2
        with:
          python-version: ${{ matrix.python-version }}
          project-directory: ${{ inputs.project-directory }}

  formatting:
    runs-on: ubuntu-latest
    steps:
      - uses: cjw296/python-action/check-formatting@v2
        with:
          project-directory: ${{ inputs.project-directory }}

  build-and-inspect-package:
    needs:
      - coverage
      - tests
      - formatting
      - typing
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: hynek/build-and-inspect-python-package@v2
        with:
          path: ${{ inputs.project-directory }}

  check-package:
    needs:
      - build-and-inspect-package
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ${{ fromJson(inputs.python-versions) }}
    steps:
      - uses: cjw296/python-action/check-distributions@v1
        with:
          package: ${{ inputs.package }}
          python-version: ${{ matrix.python-version }}
